html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #FFF;
}

p {
  margin: 2px 0;
}

#container {
  background: #F74B5E;
  min-height: calc(100vh - 32px);
  padding: 16px;
  box-sizing: border-box;
}

#content {
  min-height: calc(100vh - 32px);
  width: 100%;
  background: #464646;
  border-radius: 32px;
  box-sizing: border-box;
  padding: 32px;
  position: relative;
  text-align: center;
  font-size: 18px;
}

.notes {
  width: 800px;
  margin: auto;
  text-align: left;
}

ol, ul {
  padding-left: 20px;
}

#proceed-btn {
  background: #F74B5E;
  color: #FFF;
  outline: none;
  border: none;
  width: 328px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: auto;
  margin-top: 5vh;
}

.links {
  width: 100px;
  height: 30px;
  background: #606060;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4px;
  margin: auto;
  margin-top: 3vh;
}

.logo {
  height: 18px;
  cursor: pointer;
}

a {
  color: #FFF;
}